
.main2{
float: left;
margin-left: 200px;
margin-top: 30px;
width: 1200px;
margin-right: 206px;
}


.img>li>strong{
    font-size: 13px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.img2>li>strong{
    font-size: 13px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}


.img{
    list-style-type: none;
    padding-left: 0;
}

.img2{
    list-style-type:none;
    margin-top: 24px;
    padding-left: 0;
}


.img>li{
    padding-bottom: 10px;
}

.img2>li{
    padding-bottom: 10px;
}

#eclass_1{
    height: 200px;
    margin-left: 15px;
    margin-top: 20px;
}

#eclass_2{
    width: 150px;
    background-color: #1d82cd;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    text-align: center;
}

#eclass_3{

    margin: 0;
    color: white;
}

#eclass_4{
    margin: 0;
    color: white;
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border:solid 1px white;
}




#ppt_1{
    height: 200px;
    margin-top: 20px;
    margin-left: 15px;
}
#ppt_2{
    width: 150px;
    background-color: #ec4399;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    text-align: center;
}

#ppt_3{

    margin: 0;
    color: white;
}

#ppt_4{
    margin: 0;
    color: white;
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border:solid 1px white;
}




.program_1{
    width: 160px;
    height: 200px;
    text-align: center;
    margin-left: 15px;
    background-color: #b4cd0c;
    margin-top: 20px;
    padding: 5px;
}


#program_3{
    font-size: 13.5px;
    padding-top: 10px;
}

#program_4{
    font-size: 12px;
}

#program_5{
    font-size: 10px;
    margin-bottom: 0;
}

#program_6{

    background-color: white;
    padding:5px;
    margin: 10px;
    margin-top: 0;
    height: 75px;
}



.info_1{
    list-style: none;
    padding:0;
    margin-left: 15px;
    display: flex;
    justify-content : center;
}

.info_2{
    height: 32px;
    border:solid 1px rgb(148, 148, 148);
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
}




.listct_2{
    list-style: square;

}

.listct_3>a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}













